<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="bg-neutral-100 mx-60 p-10 rounded-lg mt-15 drop-shadow-xl">
        <div class="px-4 sm:px-0">
            <div id="IDstudent" class="hidden">
                <%= studentDetails.id%>
            </div>
            <h3 class="text-base/7 font-semibold text-gray-900">Student Information</h3>
            <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Personal details and application.</p>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100 text-center">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 border-b-4 border-gray-300">
                    <dt class="text-sm/6 font-medium text-gray-900 border-r-4 border-gray-300">Student ID</dt>
                    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <%= studentDetails.sid%>
                    </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 border-b-4 border-gray-300">
                    <dt class="text-sm/6 font-medium text-gray-900 border-r-4 border-gray-300">Major</dt>
                    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <%= studentDetails.major%>
                    </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 border-b-4 border-gray-300">
                    <dt class="text-sm/6 font-medium text-gray-900 border-r-4 border-gray-300">Phone Number</dt>
                    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <%= studentDetails.phoneNumber%>
                    </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 border-b-4 border-gray-300">
                    <dt class="text-sm/6 font-medium text-gray-900 border-r-4 border-gray-300">Full Name</dt>
                    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <%= studentDetails.fullname%>
                    </dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 border-b-4 border-gray-300">
                    <dt class="text-sm/6 font-medium text-gray-900 border-r-4 border-gray-300">Image</dt>
                    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <img src="<%= studentDetails.image%>" class="w-32 mx-auto">

                    </dd>
                </div>
                <div class="">
                    <button
                        class="relative cursor-pointer inline-flex  p-0.5 mt-3 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                        onclick="window.location.href='/viewAll'">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent  ">
                            View All
                        </span></button>

                    <button class="edit cursor-pointer hover:text-blue-400 hover:underline"
                        onclick="window.location.href='/?id=<%= studentDetails.id%>'">Edit</button>
                    <button
                        class="deleteBtn cursor-pointer p-2 rounded-lg text-white bg-blue-500 transition delay-150 duration-300 ease-in-out  hover:scale-110 hover:bg-red-500">
                        Delete
                    </button>
                </div>

            </dl>
        </div>
    </div>

</body>
<script>
    const IDstudent = document.getElementById('IDstudent').innerHTML;


    document.querySelector('.deleteBtn').addEventListener('click', () => {
        fetch(`http://localhost:3000/studentDetail/${IDstudent}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            }
        }).then((res) => res.json())
            .then((json) => {
                window.location.href = '/viewAll'
            })
    })
</script>

</html>